.add-event
	position absolute
	width 100%
	margin 0 auto
	height 30%
	background darken(timelineBlue, 20%)
	top 35%

	.hire-input
		position absolute
		top calc(50% - 30px)
		left calc(50% - 160px)

		input
			border none
			font-size 1.2em
			height 60px
			outline none
			padding 1em
			width 320px
