.add-event
	background darken(timelineBlue, 20%)
	box-sizing border-box
	height 30%
	margin 0 auto
	padding 1em 0
	position absolute
	top 35%
	width 100%

	.hire-input
		position absolute
		top calc(50% - 30px)
		left calc(50% - 160px)

		input
			border none
			font-size 1.2em
			height 60px
			outline none
			padding 1em
			width 320px
