icons = {
	birth: '★',
	death: '✝',
	battle: '⚔',
	naval-battle: '⚓',
	aerial-battle: '✈'
}

.timeline
	ul.events
		height 300px
		list-style none
		margin 0 auto
		padding 0
		position relative
		width 98%

		& > li.interval-of-time,
		& > li.point-in-time
			box-sizing border-box
			color #444
			position absolute
			white-space nowrap

		& > li.interval-of-time
			background timelineLighestBlue
			border-radius 2px
			box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
			padding 4px 4px
			transition all 0.3s cubic-bezier(.25,.8,.25,1)

			&:hover
				box-shadow 0 4px 8px rgba(0,0,0,0.25), 0 1px 3px rgba(0,0,0,0.22)

			a
				color #DDD
				text-decoration none
				background rgba(0, 0, 0, 0.4)
				border-radius 2px
				padding 0 4px

		& > li.point-in-time
			max-width 240px
			overflow hidden
			text-overflow ellipsis

			&:before
				content '| '

			&.flip
				&:before
					content ''
				&:after
					content ' |'

		for className, char in icons
			& > li.{className}
				&:before
					content char + ' '
				&.flip
					&:before
						content ''
					&:after
						content ' ' + char
