icons = {
	aerial-battle: '✈',
	battle: '⚔',
	birth: '★',
	country: '⚑',
	death: '✝',
	naval-battle: '⚓',
	sex-man: '♂',
	sex-other: '⚦',
	sex-woman: '♀',
	expedition: '☼',
}

for className, char in icons
	li.point-in-time.{className} .point
	li.interval-of-time > a.{className}
	h2.{className}
	.move-handle .title.{className}
		&:before
			content char + ' '
