body
	font-family 'Roboto', sans-serif
	height 100%
	margin 0
	padding 0
	width 100%

	&.user-select-none
		user-select none
		-moz-user-select none
		-webkit-user-select none

	&.cursor-move
		cursor move

#container
	height 100%

@import 'colors.styl'
@import 'functions.styl'
@import 'icons.styl'
@import '../components/**/*'
