ul.slider
	cursor move
	list-style none
	margin 0
	padding 0

	li.interval-of-time
		padding-left 0
		padding-right 0
		height 28px

		.title
			height 20px
			left 4px
			pointer-events none
			position absolute
			z-index 1

	//li.point-in-time
	//	background darken(timelineBlue, 20%)
