.uncertain
	.hire-forms-checkbox
		cursor pointer

		&.checked
			g.checkmark
				display block

		label
			cursor pointer

		svg
			width 12px

			g.box
				stroke black

			g.checkmark
				display none
				fill timelineLighestBlue